/* vim: expandtab ts=2 sw=2 ai */

/*
 * EmojiSymbols Font (c)blockworks - Kenichi Kaneko
 * http://emojisymbols.com/
 * https://emojisymbols.com/emojilist.php
*/
@font-face{
  font-family: "EmojiSymbols";
  src: url(EmojiSymbols-Regular.woff) format("woff");
  text-decoration: none;
  font-style: normal;
}
body {
  overflow: hidden;
  background-color: #f6f6f6;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
table, tr, td {
  padding: 0;
  margin: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
#header {
  display: flex ! important;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #2196F3;
}
#logo {
  width: 380px;
  text-align: left;
  padding: 5px;
}
#turtle-velocity {
  text-align: center;
  padding-top: 20px;
}
#editor-buttons {
  display: flex;
  justify-content: right;
  align-self: right;
  /*width: 380px;*/
  padding: 5px;
}
#editor {
  margin: 0px;
}
#canvas-container {
  position: relative;
  background-color: white;
}
#spinner {
  position: absolute;
  z-index: 2;
  visibility: hidden;
  top: 100px;
  right: 50px;
  width: 30px;
  height: 30px;
}
.tab {
  padding: 4px 10px 1px;
  text-decoration: none;
}
.levelLine {
  border-bottom: solid 1px #ddd;
}
#selected {
  font-weight: bold;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#hint,
#capacity {
  font-style: italic;
}
#capacityNumber {
  font-weight: bold;
}
/*
#bubble {
  width: 385px;
  padding: 7px;
  border: 1px solid #CCB;
  border-radius: 15px;
  background-color: #ff7;
}
*/

/* Buttons */
button {
  margin: 5px;
  margin-left: 5px;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  border: 2px solid #ddd;
  background-color: #ddd;
  color: black;
  cursor: pointer;
  height: 46px;
}
button.run {
  background-color: #38b549;
  height: 50px;
  width: 120px;
  color: white;
}
button.send {
  background-color: #004EB6;
  height: 50px;
  width: 150px;
  color: white;
}
button.stop, button.cancel {
  background-color: #E91E63;
  height: 50px;
  width: 120px;
  color: white;
}
button.clear {
  background-color: #F19837;
  height: 50px;
  width: 120px;
  color: white;
}
button.emoji {
  font-family: "EmojiSymbols";
  background-color: #2196F3;
  color: white;
  width: 40px;
  height: 50px;
}
button.zoom {
  background-color: #6E45B2;
}
button.file {
  background-color: #FDBB0F;
}
button.settings {
  /*background-color: #0637A8;*/
}
button:active {
  filter: brightness(1.2);
  color: black;
  border: 2px solid #333 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button>img {
  opacity: 0.6;
}
button:hover>img {
  opacity: 1;
}
button[disabled] {
  border: 1px solid gray;
  background-color: gray;
  color: white;
  cursor: pointer;
}
#toolbarDiv {
  text-align: center;
  padding-top: 1em;
}

/* Blockly */
#blockly {
  padding: 0px;
  margin: 0px;
}
.blocklyMainBackground {
  stroke: none ! important;
}
#display {
  /*border: 1px solid #ccc;*/
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.blocklyTreeRow,
.blocklyTreeLabel,
.blocklyFlyout .blocklyDraggable,
.blocklyFlyout .blocklyPath,
.blocklyFlyout .blocklyPathDark,
.blocklyFlyout .blocklyPathLight,
.blocklyFlyout .blocklyText,
.blocklyFlyout rect {
  cursor: pointer;
}

/* Slider. */
#slider {
  cursor: pointer;
}
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}

/* Sprited icons. */
.code {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
  background-position: -42px 0px;
}
.link {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
  background-position: -21px 0px;
}

/* Blockly */
.blocklyTreeRow {
  padding: 10px;
}
.blocklyTreeLabel {
  font-size: 1.2em;
  color: #333;
}

/* Load and Save */
/*
.emoji {
  font-family: "EmojiSymbols";
  color: #343434;
}
*/

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #eeeeee;
  cursor: pointer;
  border: 1px solid #cccccc;
}
#debugger {
  width: 100%;
  padding: 15px;
  border: none;
  border-left: 1px solid #ccc;
  background: #eee;
  color: #666;
  overflow-y: scroll;
  font-family: monospace;
  font-size: 1.4em;
}
